In [2]:
import pandas, pickle, numpy as np
np.random.seed(42)

## Random Baseline

In [3]:
with open('data/X_test.pickle', 'rb') as data:
    df = pickle.load(data)

In [8]:
ordinals = np.arange(len(df))
np.random.shuffle(ordinals)

predictions = pandas.DataFrame({'SearchId': df["srch_id"], 'PropertyId': df["prop_id"], 'ord': ordinals})

predictions.sort_values(by=['SearchId', 'ord'], ascending=[True, False], inplace=True)
predictions.drop(['ord'], axis=1, inplace=True)
predictions

         SearchId  PropertyId
239            25      133065
210            25       22710
225            25       69645
230            25       91587
232            25      118859
...           ...         ...
4958344    332785       94508
4958346    332785      134949
4958343    332785       88083
4958342    332785       77700
4958345    332785      128360

[492432 rows x 2 columns]

In [5]:
predictions

         SearchId  PropertyId     ord
207            25        2863  389048
208            25       12255  363854
209            25       20707  212010
210            25       22710  339298
211            25       23228  398010
...           ...         ...     ...
4958342    332785       77700  461226
4958343    332785       88083  103397
4958344    332785       94508  214578
4958345    332785      128360   37650
4958346    332785      134949  343819

[492432 rows x 3 columns]

In [52]:
numpy.arange(5)

array([0, 1, 2, 3, 4])